.post__join--input {
    width: 82.1%;

    background-color: #27313b;
    border-radius: 4px;
    border: 1px solid #323d48;
    box-shadow: 0 1px 3px #27313b;

    color: #fff;
    font-size: 1.4rem;
    padding: 1rem 2rem;
}

.post__join--input:focus {
    outline: none;
}

.post__join--input::placeholder,
.post__join--input::-moz-placeholder,
.post__join--input::-webkit-input-placeholder {
    color: #4c5661;
    font-size: 1.4rem;
    font-family: inherit;
}

