.post__description--info {
    margin-right: 2.4rem;
    line-height: 1.3;
    color: rgba(255, 255, 255, 1);
    height: 100%;

    display: flex;
    flex-direction: column;
}

.post__live {
    font-size: 0.8rem;
    color: #f53e39;
    font-weight: 500;
}

.post__live--icon {
    color: #f53e39;
    align-self: flex-start;
    position: relative;
}

.post__live--icon svg {
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 0.2rem;
    position: relative;
    top: -0.1rem;
    left: 0;
}

.post__live--icon svg * {
    stroke: currentColor;
    fill: currentColor;
}

.post__username--text {
    font-size: 2rem;
    font-weight: 700;
}

.post__description--main,
.post__description--extra {
    font-size: 1.4rem;
    font-weight: 300;
}

.post__show-more--text {
    display: inline-block;
    transition: font-size 0.2s;
    transition: opacity 0.5s;
}

.post__user {
    font-size: 1rem;
}

.user--icon svg {
    display: inline-block;
    margin-right: 0.4rem;
    justify-self: flex-end;
    align-self: flex-end;
    height: 1rem;
    width: 1rem;
}

.post__user--icon * {
    fill: #fff;
    stroke: #fff;
}

.post__entry {
    font-size: 2rem;
}

@media only screen and (max-width: 46.875em) {
    .post__description--info {
        margin-right: 0;
        line-height: 1.3;
        font-size: 1.4rem;
    }

    .post__description--group {
        display: flex;
        flex-direction: row;
    }

    .post__user {
        font-size: 1rem;
    }

    .post__entry {
        font-size: 1rem;
    }
}
