.post__join--button {
    width: 17.9%;
    margin-left: 0.74rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    cursor: pointer;

    border-radius: 0.4rem;
    box-shadow: 0 1px inset, 0 1px 2px #27313b;
    border: 1px solid;
}

.post__join--button:disabled {
    cursor: progress;
}

.post__join--button:active,
.post__join--button:focus {
    outline: 0;
}

.post__join--button:active {
    box-shadow: 0 2px inset #27313b, 0 4px 4px #27313b inset;
    /* box-shadow: none; */
}

/* Button for JOIN & LEAVE */
.join {
    border-color: #2bb041;
    background: linear-gradient(#66e979, #4fcd61);
}

.leave {
    border-color: #b73939;
    background: #cf4b4b;
}
